<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Xobot IDE">
         <property
               name="appName"
               value="Xobot IDE">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.platform/LegacyIDE.e4xmi">
         </property>
         <property
               name="aboutImage"
               value="images/xobot_lg.png">
         </property>
         <property
               name="windowImages"
               value="images/xobot16.png,images/xobot32.png,images/xobot48.png,images/xobot64.png,images/xobot128.png">
         </property>
      </product>
   </extension>
   <extension
         id="org.pgcase.xobot.ide.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
      <processor
            apply="always"
            beforefragment="false"
            class="org.pgcase.xobot.ide.internal.XobotIdeProcessor">
      </processor>
   </extension>

</plugin>
