<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2018 ArSysOp

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.

	SPDX-License-Identifier: Apache-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.pgcase.xobot.landscape.ui.navigator.SourcesNavigator"
            icon="platform:/plugin/org.pgcase.xobot.e3/images/xobot16.png"
            id="org.pgcase.xobot.landscape.ui.navigator.sources"
            name="%views.sources.name">
      </view>
      <view
            class="org.pgcase.xobot.landscape.ui.navigator.TargetsNavigator"
            icon="platform:/plugin/org.pgcase.xobot.e3/images/xobot16.png"
            id="org.pgcase.xobot.landscape.ui.navigator.targets"
            name="%views.targets.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.pgcase.xobot.landscape.ui.navigator.SourcesContentProvider"
            icon="platform:/plugin/org.pgcase.xobot.e3/images/xobot16.png"
            id="org.pgcase.xobot.landscape.ui.navigator.navigatorContent.sources"
            name="%navigatorContent.sources.name">
         <triggerPoints>
            <adapt
                  type="org.pgcase.xobot.landscape.runtime.registry.XSourceRegistry">
            </adapt>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.pgcase.xobot.landscape.ui.navigator.TargetsContentProvider"
            icon="platform:/plugin/org.pgcase.xobot.e3/images/xobot16.png"
            id="org.pgcase.xobot.landscape.ui.navigator.navigatorContent.targets"
            name="%navigatorContent.targets.name">
         <triggerPoints>
            <adapt
                  type="org.pgcase.xobot.landscape.runtime.registry.XTargetRegistry">
            </adapt>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.pgcase.xobot.landscape.ui.navigator.sources">
      </viewer>
      <viewerContentBinding
            viewerId="org.pgcase.xobot.landscape.ui.navigator.sources">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.pgcase.xobot.landscape.ui.navigator.contentExtension.sources*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.pgcase.xobot.landscape.ui.navigator.targets">
      </viewer>
      <viewerContentBinding
            viewerId="org.pgcase.xobot.landscape.ui.navigator.targets">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.pgcase.xobot.landscape.ui.navigator.contentExtension.targets*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
