<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2019-2020 ArSysOp

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.

	SPDX-License-Identifier: Apache-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->
<plugin>

   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            name="%wizard.project.configure.name"
            icon="platform:/plugin/org.pgcase.xobot.workspace.team.ui/images/xobot16.png"
            class="org.pgcase.xobot.workspace.team.ui.XobotConfigurationWizard"
            id="org.pgcase.xobot.workspace.team.ui.ConfigurationWizard">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.mapping.ResourceMapping"
            adaptable="true"
            id="org.pgcase.xobot.workspace.team.ui.ResourceContributions">
         <enablement>
               <adapt type="org.eclipse.core.resources.mapping.ResourceMapping">
                   <test property="org.eclipse.core.resources.projectPersistentProperty"
                         args="org.eclipse.team.core.repository,org.pgcase.xobot.workspace.team.core.xobot"/>
               </adapt>
         </enablement>
         <action
               class="org.pgcase.xobot.workspace.team.ui.XobotSynchronizeAction"
               icon="platform:/plugin/org.pgcase.xobot.workspace.team.ui/images/xobot16.png"
               id="org.pgcase.xobot.workspace.team.ui.synchronize"
               label="%Synchronize.name"
               menubarPath="team.main/group1"
               tooltip="%Synchronize.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.pgcase.xobot.workspace.team.ui.ProjectContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.pgcase.xobot.workspace.team.core.xobot">
         </filter>
         <action
               class="org.pgcase.xobot.workspace.team.ui.XobotDisconnectAction"
               icon="platform:/plugin/org.pgcase.xobot.workspace.team.ui/images/xobot16.png"
               id="org.pgcase.xobot.workspace.team.ui.unmanage"
               label="%Unmanage.name"
               menubarPath="team.main/group2"
               tooltip="%Unmanage.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.pgcase.xobot.workspace.team.ui.fileContribution"
            objectClass="org.eclipse.core.resources.IFile">
          <enablement>
            <adapt type="org.eclipse.core.resources.mapping.ResourceMapping">
              <test property="org.eclipse.core.resources.projectPersistentProperty"
              args="org.eclipse.team.core.repository,org.pgcase.xobot.workspace.team.core.xobot"/>
            </adapt>
         </enablement>
         <action
               class="org.pgcase.xobot.workspace.team.ui.ShowHistoryAction"
               icon="platform:/plugin/org.pgcase.xobot.workspace.team.ui/images/xobot16.png"
               id="org.pgcase.xobot.workspace.team.ui.showHistory"
               label="%action.history.show.label"
               menubarPath="team.main/group4">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewer
           viewerId="org.pgcase.xobot.workspace.team.ui.syncViewer">
           <popupMenu
                allowsPlatformContributions="false"
                id="org.pgcase.xobot.workspace.team.ui.syncViewer#PopupMenu">  
             <insertionPoint name="file"/>  
             <insertionPoint name="edit"/>          
             <insertionPoint name="synchronize"/>
             <insertionPoint
                   name="navigate"
                   separator="true"/>
             <insertionPoint
                   name="merge"
                   separator="true"/>
             <insertionPoint
                   name="put"
                   separator="false"/>
             <insertionPoint
                   name="overwrite"
                   separator="true"/> 
             <insertionPoint
                   name="other"
                   separator="true"/> 
             <insertionPoint
                   name="sort"
                   separator="true"/>
             <insertionPoint
                   name="additions"
                   separator="true"/>
             <insertionPoint
                   name="properties"
                   separator="true"/>
          </popupMenu>
       </viewer>
   </extension>

   <extension
         point="org.eclipse.team.ui.synchronizeParticipants">
      <participant
            class="org.pgcase.xobot.workspace.team.ui.XobotSynchronizeParticipant"
            icon="images/xobot16.png"
            id="org.pgcase.xobot.workspace.team.ui.xobot"
            name="%participant.name"
            persistent="false">
      </participant>
   </extension>
   <extension
         point="org.eclipse.team.ui.synchronizeWizards">
      <wizard
            class="org.pgcase.xobot.workspace.team.ui.XobotSynchronizeWizard"
            description="%wizard.synchronize.description"
            icon="images/xobot16.png"
            id="org.pgcase.xobot.workspace.team.ui.sync.xobot"
            name="%wizard.synchronize.name">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.pgcase.xobot.workspace.ui.ide.perspectives.perspective.xobot">
         <view
               id="org.eclipse.team.sync.views.SynchronizeView"
               minimized="false"
               relationship="stack"
               relative="org.pgcase.xobot.workspace.ui.ide.outlines"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.pgcase.xobot.workspace.team.ui.CompareToTargetHandler"
            id="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target"
            name="%command.compare.name">
         <commandParameter
               id="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target.maturity"
               name="%commandParameter.compare.name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target"
            icon="platform:/plugin/org.pgcase.xobot.workspace.team.ui/images/xobot16.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="compareWithMenu"
               label="%compare.menu.label">
            <command
                  commandId="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target"
                  label="%compare.experimental.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt>
                  </iterate>
               </visibleWhen>
               <parameter
                     name="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target.maturity"
                     value="sandbox">
               </parameter>
            </command>
            <command
                  commandId="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target"
                  label="%compare.integration.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt>
                  </iterate>
               </visibleWhen>
               <parameter
                     name="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target.maturity"
                     value="integration">
               </parameter>
            </command>
            <command
                  commandId="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target"
                  label="%compare.stable.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt>
                  </iterate>
               </visibleWhen>
               <parameter
                     name="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target.maturity"
                     value="stable">
               </parameter>
            </command>
            <command
                  commandId="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target"
                  label="%compare.official.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt>
                  </iterate>
               </visibleWhen>
               <parameter
                     name="org.pgcase.xobot.workspace.team.ui.commands.command.compare.target.maturity"
                     value="official">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
